{% extends "gifts/base.html" %}

{% block content %}
<h1>Profile for: {{ profile_name }}</h1>
<h2>Gave to...</h2>
<div class="container">
    {% if not gifts_from %}
        <h3>No entries for {{ profile_name }}, which seems unexpected. </h3>
    {% else %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Year</th>
                    <th scope="col">To</th>
                </tr>
            </thead>
            <tbody>
            {% for gift in gifts_from %}
                <tr>
                    <td>{{ gift.year }}</td>
                    <td>{{ gift.name_to }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {%  endif %}
</div>
<div class="container">
<h2>Received from... </h2>
    {% if not gifts_to %}
        <h3> Apparently {{ profile_name }} isn't a big giver.  (More likely, something went wrong...)</h3>
    {% else %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Year</th>
                    <th scope="col">From</th>
                </tr>
            </thead>
            <tbody>
            {% for gift in gifts_to %}
                <tr>
                    <td>{{ gift.year }}</td>
                    <td>{{ gift.name_from }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {%  endif %}
 </div>
{% endblock content %}


